* {
    margin: 0;
    padding: 0;

}

body {
    background-image:linear-gradient(to right,black, rgb(80, 78, 78));
    background-size: cover;
    background-position: center;
}

h1 {
    padding: 10px;
    font-size: 45px;
    text-align: center;
    color: rgb(151, 175, 252);

}
p {
    color: white;
    font-size: 15px;
    font-weight: bolder;
    margin: 10px;
    font-family: 'Cambria, Cochin', Georgia, Times, 'Times New Roman', serif;
}


.container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 450px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 50px auto;
    /* border-color: aqua; */
    border: 2px solid rgb(26, 238, 245)

}
.main input {
    /* background-color: transparent; */
    height: 30px;
    border-radius: 10px;
    padding: 0px 10px;
    width: 80%;

}
.main input #gender {
    color: whitesmoke;

}
.main {
    align-items: center;
    color: white;
    margin: 20px 70px;
    font-size: 15px;
    
}
.main #male, .main #female{
    height: 10px;
    margin: 5px 10px;
}

.main #submit {
    color: cyan;
    background-color: transparent;
    border: 2px solid cyan;
    height: 40px;
    width: 120px;
    cursor: pointer;
    margin: 40px 90px;
    font-size: 25px;
    box-shadow: 20px;
    transition: transform.2s;

}

.main #submit:hover {
    transform: scale(1.1);

}
